.wFormContainer {
	--raspberry: #c00686;
	--raspberry-highlight: #fffafe;
	--raspberry-dark: #930667;
	--black: #454759;
	--offwhite: #fcfcfc;
	--grey-900: #e9e9e9;
	--grey-800: #cdcdcd;
	--grey-700: #c5c5c5;
	--grey-600: #a2a2a2;
	--grey-500: #999999;
	--error: #FF0000;
	--button-border-radius: 12px;
	--button-font-size: 1rem;
	--button-padding: 1.25em 0.5em;
	--input-box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
	--input-border-radius: 6px;
	--input-border-color: 6px;
	--input-border-width: 1px;
	--grid-gap: 1em;
	--transition: all 200ms ease-out;
	--transition-fast: all 100ms ease-out;
	--primary-font: "IBM Plex Sans", "Roboto", sans-serif;
	--secondary-font: "Merriweather", "Georgia", serif;

	font-family: var(--primary-font);
	font-size: 0.875rem;
	line-height: 1;
	font-weight: 400;
}

.wFormContainer * {
	outline: none;
} 

.wFormContainer .wForm {
	background: none;
  color: var(--black);
  border: none;
	padding: 0;
}

.wFormContainer .wForm form {
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: var(--grid-gap);
}

.wFormContainer .wForm form div[style="clear: both"] {
	display: none;
}

.wFormContainer .htmlSection {
	line-height: 1.2;
	margin: 0;
	padding: 0;
	border: 0;
}

.wFormContainer .faded {
	opacity: 0.7;
}

.wFormContainer .supportInfo {
	display: none;
}

/* Form Header --------------------- */

.wFormContainer .formHeader {
	display: flex;
	flex-direction: column;
}
@media(min-width:500px) {
	.wFormContainer .formHeader {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
	}
}

.wFormContainer .formTitle {
	font-family: var(--secondary-font);
	font-size: 1.5em;
	font-weight: 400;
	line-height: 1;
}

.wFormContainer .formHeader--right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 0.5em;
	overflow: hidden;
	max-height: 3em;
	transition: var(--transition);
	font-size: 0.85em;
}
.wFormContainer[data-current-page="1"] .formHeader--right {
	max-height: 0;
	opacity: 0;
}
@media(min-width:500px) {
	.wFormContainer .formHeader--right {
		align-items: flex-end;
		margin-top: 0;
	}
	.wFormContainer[data-current-page="1"] .formHeader--right {
		transform: translate3d(20px,0,0);
		max-height: none;
	}
}

.wFormContainer .formTimeEstimate {
	line-height: 1.15;
}

.wFormContainer .formProgress {
	display: flex;
	align-items: center;
	margin: 0.5em 0;
}
.wFormContainer .formProgressBar {
	position: relative;
	width: 84px;
	height: 9px;
	background-color: var(--grey-900);
	margin-right: 1em;
}
.wFormContainer .formProgressText {
	font-size: 1.15em;
	font-weight: 500;
}
.wFormContainer .formProgressBarInner {
	background-color: var(--raspberry);
	height: 100%;
	width: 100%;
	transform-origin: 0 0;
	transition: transform 200ms ease-out;
}
.wFormContainer .formProgressPage {
	display: inline-block;
	width: 0.6em;
	text-align: right;
}

/* Pages --------------------- */
.wFormContainer .pageWrapper {
	position: relative;
}

.wFormContainer .page {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	pointer-events: none;
	transition: all 400ms ease-out;
	transition-delay: 0ms;
}

.wFormContainer .page.current {
	position: relative;
	opacity: 1;
	pointer-events: all;
	transition-delay: 400ms;
}

.wFormContainer .pageSection {
	display: flex;
	flex-direction: column;
	row-gap: var(--grid-gap);
	margin-top: var(--grid-gap);
	transform: translate3d(-30px,0,0);
	transition: all 400ms ease-out;
}

.wFormContainer .page.current + .page .pageSection {
	transform: translate3d(30px,0,0);
}

.wFormContainer .page.current .pageSection {
	transform: translate3d(0,0,0);
	transition-delay: 400ms;
}

.wFormContainer .formPageHeader {
	display: flex;
	align-items: center;
	margin: 0;
}

.wFormContainer .formPageNumber {
	border-radius: 50%;
	border: 1px solid var(--black);
	display: inline-block;
	height: 2.1em;
	margin-right: 0.75em;
	position: relative;
	text-align: center;
	width: 2.1em;
	font-size: 1.3em;
	flex-shrink: 0;
	flex-grow: 0;
}

.wFormContainer .formPageNumber span {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Fields --------------------- */
.wFormContainer .wForm .oneField {
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
}
.wFormContainer .wForm .oneField br {
	display: none;
}

.wFormContainer .inline.group {
	display: flex;
	column-gap: var(--grid-gap);
}

.wFormContainer .wForm .inline.group .oneField {
	flex: 1 1 100%;
}

.wFormContainer .wForm .inputWrapper {
	position: relative;
	width: 100%;
}

.wFormContainer .oneField .errMsg {
	font-size: 12px;
	margin: 6px 0 0 6px;
	color: red;
	font-weight: 400;
}

/* Labels --------------------- */
.wFormContainer .wForm .oneField > .label {
	background-color: white;
	left: 0.5em;
	line-height: 1;
	min-width: 0;
	padding: 0.1em 0.5em;
	pointer-events: none;
	position: absolute;
	top: 1.7em;
	transform: translateY(-50%);
	transition: all 50ms ease-out;
	width: auto;
	z-index: 1;
}
.wFormContainer .wForm .oneField.is-focused > .label,
.wFormContainer .wForm .oneField.has-value > .label {
	font-size: 12px;
	transform: translateY(-2.4em);
}
.wFormContainer .wForm .oneField.is-focused > .label {
	color: var(--raspberry);
}

/* Text fields -------------------- */
.wFormContainer .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]),
.wFormContainer .wForm .inputWrapper textarea,
.wFormContainer .wForm .inputWrapper .dropdown {
	background-color: #FFFFFF;
	border-radius: var(--input-border-radius);
	border: 1px solid var(--grey-500);
	box-shadow: var(--input-box-shadow);
	color: var(--black);
	font-family: var(--primary-font);
	font-size: 1em;
	font-weight: 400;
	height: auto;
	line-height: 1;
	outline: 0;
	padding: 1em;
	transition: all 200ms ease-out;
	width: 100%;
	box-sizing: border-box;
}

/* Textarea */
.wFormContainer .wForm .inputWrapper textarea {
	font-size: 1em;
	line-height: 1.2;
}

/* Dropdowns */
.wFormContainer .dropdown {
	position: relative;
	cursor: pointer;
	box-shadow: var(--input-box-shadow);
	min-height: 48px;
}
.wFormContainer .dropdown.open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.wFormContainer .dropdown-icon {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	transition: var(--transition);
}
.wFormContainer .dropdown.open .dropdown-icon {
	transform: translateY(-50%) rotate(180deg);
}
.wFormContainer .dropdown-options {
	background-color: #ffffff;
	border-bottom-left-radius: var(--input-border-radius);
	border-bottom-right-radius: var(--input-border-radius);
	border: 1px solid var(--grey-800);
	border-top: 0;
	box-shadow: inset 6px 0 4px -4px rgba(0,0,0,0.05);
	box-sizing: border-box;
	left: -1px;
	max-height: 0px;
	opacity: 0;
	overflow: scroll;
	pointer-events: none;
	position: absolute;
	top: calc(100% - 3px);
	transition: var(--transition);
	width: calc(100% + 2px);
	z-index: 2;
}
.wFormContainer .dropdown.open .dropdown-options {
	opacity: 1;
	max-height: 250px;
	pointer-events: all;
}
.wFormContainer .dropdown-option {
	line-height: 1;
	padding: 0.7em 1em;
	border-bottom: 1px solid var(--grey-900);
	transition: var(--transition);
}
.wFormContainer .dropdown-option:hover,
.wFormContainer .dropdown-option:focus,
.wFormContainer .dropdown-option.active {
	background-color: var(--grey-900);
}
.wFormContainer .dropdown-option.selected {
	background-color: var(--raspberry);
	color: #fff;
	font-weight: bold;
}

/* States */
.wFormContainer .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]):hover,
.wFormContainer .wForm .inputWrapper textarea:hover,
.wFormContainer .wForm .inputWrapper .dropdown:hover,
.wFormContainer .wForm .inputWrapper .dropdown:hover .dropdown-options {
	border-color: var(--black);
}
.wFormContainer .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]):focus,
.wFormContainer .wForm .inputWrapper textarea:focus,
.wFormContainer .wForm .inputWrapper .dropdown:focus,
.wFormContainer .wForm .inputWrapper .dropdown:focus .dropdown-options {
	border-color: var(--raspberry);
}
.wFormContainer .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"])::placeholder,
.wFormContainer .wForm .inputWrapper textarea::placeholder,
.wFormContainer .wForm .inputWrapper .dropdown-selection {
	color: #444759 !important;
	transition: opacity 200ms ease-out;
}
.wFormContainer .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]):focus::placeholder,
.wFormContainer .wForm .inputWrapper textarea:focus::placeholder {
	opacity: 0.4;
}

/* Error fields */
.wFormContainer .wForm .inputWrapper.error input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]),
.wFormContainer .wForm .inputWrapper.error textarea:hover {
	border-color: var(--error);
}
.wFormContainer .wForm .inputWrapper .errorIcon {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 1.5em;
	height: 1.5em;
}

/* Tiled Choices --------------------- */
.wFormContainer .tiles,
.wFormContainer .choices {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--grid-gap);
	row-gap: var(--grid-gap);
}

.wFormContainer .tiles .tile,
.wFormContainer .choices .oneChoice {
	flex: 1 1 auto;
	width: calc(100% - var(--grid-gap) / 2);
}

.wFormContainer .tiles.horizontal .tile,
.wFormContainer .choices.horizontal .oneChoice {
	width: calc(50% - var(--grid-gap) / 2);
	min-height: 6.875em;
}

.wFormContainer .tiles input[type="radio"], 
.wFormContainer .tiles input[type="checkbox"],
.wFormContainer .choices input[type="radio"],
.wFormContainer .choices input[type="checkbox"] {	
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}

.wFormContainer .tiles .tile .label,
.wFormContainer .choices .oneChoice .label {	
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px var(--grey-500);
	box-sizing: border-box;
	color: var(--black);
	cursor: pointer;
	display: flex;
	font-weight: 600;
	line-height: 1.2;
	padding: 1em 0.9em;
	position: relative;
	transition: var(--transition-fast);
}
.wFormContainer .tiles.horizontal .tile .label,
.wFormContainer .choices.horizontal .oneChoice .label {
	text-align: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	margin: 0;
}
.wFormContainer .tiles .tile .label.justify-start {
	justify-content: flex-start;
}
.wFormContainer .tiles .tile .label.singleLine,
.wFormContainer .choices .oneChoice .label.singleLine {
	justify-content: center;
}

.wFormContainer .tiles .tile .label:active,
.wFormContainer .choices .oneChoice .label:active {
	transform: scale(0.98);
}

.wFormContainer .tiles .tile .label:hover,
.wFormContainer .choices .oneChoice .label:hover {
	box-shadow: inset 0 0 0 1px var(--raspberry);
	color: var(--raspberry);
}

.wFormContainer .tiles .tile input:focus + .label,
.wFormContainer .tiles .tile input:is(:checked) + .label,
.wFormContainer .choices .oneChoice input:focus + .label,
.wFormContainer .choices .oneChoice input:is(:checked) + .label {
	box-shadow: inset 0 0 0 1px var(--raspberry);
	color: var(--raspberry);
}

.wFormContainer .tiles .tile input:is(:checked) + .label,
.wFormContainer .choices .oneChoice input:is(:checked) + .label {
	background-color: var(--raspberry-highlight);
}

.wFormContainer .tiles .tile .label .title {	
	align-items: center;
	display: flex;
	height: 2em; 
	margin: 0 auto;
}

.wFormContainer .tiles .tile .label .icon {	
	margin: 0.75em auto 0.25em;
	height: 40px;
}

.wFormContainer .tiles .tile .label .text {	
	margin: 0.5em auto 0;
	font-weight: 400;
}

.wFormContainer .choices.vertical .oneChoice .label .input-radio-faux {
	width: 1em;
	height: 1em;
	border: 1px solid;
	border-radius: 50%;
	margin: 0 1em 0 0;
	transition: all 200ms ease-out;
	box-shadow: inset 0 0 0 1em white;
	background: var(--raspberry);
}
.wFormContainer .choices.vertical .oneChoice input:is(:checked) + .label .input-radio-faux {
	background: var(--raspberry);
	box-shadow: inset 0 0 0 2px white;
}

@media(min-width: 768px) {
	.wFormContainer .tiles .tile .label,
	.wFormContainer .choices .oneChoice .label { padding: 1.3em 0.9em;	}
	.wFormContainer .tiles .tile .label.square { min-height: 195px; }
	.wFormContainer .tiles .tile .label .icon {	height: 55px; margin: 1em auto 0.5em; }
}

/* Buttons --------------------- */

.wFormContainer .wfPagingButtons {
	display: flex;
	column-gap: var(--grid-gap);
	margin-top: 2.25em;
}

.wFormContainer .actions {
    border: 0;
    padding: 0;
		margin: 0;
}
.wFormContainer .actions.multipage {
	display: none;
}

.wFormContainer button,
.wFormContainer input[type="button"],
.wFormContainer input[type="submit"],
.wFormContainer .actions .primaryAction {
  appearance: none;
	font-family: var(--primary-font);
	font-size: var(--button-font-size);
	font-weight: 500;
	background-color: var(--raspberry);
	color: #fff;
	cursor: pointer;
	padding: var(--button-padding);
	border-radius: var(--button-border-radius);
	border: 2px solid var(--raspberry);
	width: 100%;
	outline: 0;
	transition: all 200ms ease-out;
	margin: 0;
}

.wFormContainer button[disabled],
.wFormContainer input[type="button"][disabled],
.wFormContainer input[type="submit"][disabled] {
	background-color: var(--grey-600);
	border: 2px solid var(--grey-600);
	opacity: 0.7;
	pointer-events: none;
}

.wFormContainer button:hover,
.wFormContainer input[type="button"]:hover,
.wFormContainer input[type="submit"]:hover,
.wFormContainer .actions .primaryAction:hover {
	background-color: var(--raspberry-dark);
	border: 2px solid var(--raspberry-dark);
	color: #fff;
}

.wFormContainer button:focus, 
.wFormContainer input[type="button"]:focus, 
.wFormContainer input[type="submit"]:focus, 
.wFormContainer .actions .primaryAction:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 4px var(--raspberry);
}

.wFormContainer button.outline,
.wFormContainer input[type="button"].outline,
.wFormContainer input[type="submit"].outline {
	color: var(--raspberry);
	background-color: transparent;
	border: 2px solid var(--raspberry);
}

.wFormContainer button.outline:hover,
.wFormContainer input[type="button"].outline:hover,
.wFormContainer input[type="submit"].outline:hover {
	background-color: var(--raspberry-highlight);
	border: 2px solid var(--raspberry);
}