.mercerForm {
	--raspberry: #c00686;
	--raspberry-highlight: #fff1fb;
	--raspberry-dark: #930667;
	--black: #454759;
	--offwhite: #fcfcfc;
	--grey-900: #f1f1f1;
	--grey-800: #cdcdcd;
	--grey-700: #c5c5c5;
	--grey-600: #a2a2a2;
	--error: #FF0000;
	--button-border-radius: 15px;
	--button-font-size: 1.15em;
	--button-padding: 0.85em 0.5em;
	--input-box-shadow: inset 2px 2px 4px 0 rgba(0,0,0,0.05);
	--input-border-radius: 6px;
	--input-border-color: 6px;
	--input-border-width: 1px;
	--grid-gap: 1em;
	--transition: all 200ms ease-out;
	--transition-fast: all 100ms ease-out;

	font-family: "Korolev", "Roboto", sans-serif;
	font-size: 1rem;
	line-height: 1;
	font-weight: 500;
}
@media(min-width:768px) {
	.mercerForm { font-size: 1.125rem; }
}

.mercerForm * {
	outline: none;
} 

.mercerForm .wForm {
	background: none;
  color: var(--black);
  border: none;
}

.mercerForm .wForm form {
	padding: 0;
}

.mercerForm .htmlSection {
	line-height: 1.2;
	margin: 0;
}

.mercerForm .faded {
	opacity: 0.7;
}

.mercerForm .wFormFooter .supportInfo {
	display: none;
}

/* Form Header --------------------- */

.mercerForm .formHeader {
	display: flex;
	flex-direction: column;
}
@media(min-width:500px) {
	.mercerForm .formHeader {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
	}
}

.mercerForm .formTitle {
	font-size: 1.625em;
	font-weight: bold;
	line-height: 1;
}
@media(min-width:768px) {
	.mercerForm .formTitle {
		font-size: 2em;
	}
}

.mercerForm .formHeader--right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 0.5em;
}
@media(min-width:500px) {
	.mercerForm .formHeader--right {
		align-items: flex-end;
		margin-top: 0;
	}
}

.mercerForm .formTimeEstimate {
	font-size: 14px;
	line-height: 1.15;
	opacity: 0;
	transform: translate3d(-20px,0,0);
	transition: var(--transition);
}
.mercerForm[data-current-page="1"] .formTimeEstimate {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.mercerForm .formProgress {
	display: flex;
	align-items: center;
	margin: 0.5em 0;
}
.mercerForm .formProgressBar {
	position: relative;
	width: 84px;
	height: 9px;
	background-color: var(--grey-700);
	margin-right: 1em;
}
.mercerForm .formProgressBarInner {
	background-color: var(--raspberry);
	height: 100%;
	width: 100%;
	transform-origin: 0 0;
	transition: transform 200ms ease-out;
}
.mercerForm .formProgressPage {
	display: inline-block;
	width: 0.6em;
	text-align: right;
}

/* Pages --------------------- */
.mercerForm .pageWrapper {
	position: relative;
}

.mercerForm .page {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	pointer-events: none;
	transition: all 400ms ease-out;
	transition-delay: 0ms;
}
/* .mercerForm .page:nth-child(2) { transform: translateX(100%); }
.mercerForm .page:nth-child(3) { transform: translateX(200%); }
.mercerForm .page:nth-child(4) { transform: translateX(300%); }
.mercerForm .page:nth-child(5) { transform: translateX(400%); }
.mercerForm .page:nth-child(6) { transform: translateX(500%); } */
/* .mercerForm .page:nth-child(7) { opacity: 1; pointer-events: all; transform: translateX(130%); } */

.mercerForm .page.current {
	position: relative;
	opacity: 1;
	pointer-events: all;
	transition-delay: 400ms;
}

.mercerForm .pageSection {
	display: flex;
	flex-direction: column;
	row-gap: 1.25em;
	transform: translate3d(-30px,0,0);
	transition: all 400ms ease-out;
}

.mercerForm .page.current + .page .pageSection {
	transform: translate3d(30px,0,0);
}

.mercerForm .page.current .pageSection {
	transform: translate3d(0,0,0);
	transition-delay: 400ms;
}

.formPageHeader {
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--grey-600);
	padding: 1.25em 0;
	margin: 0;
}

.formPageNumber {
	border-radius: 50%;
	border: 2px solid var(--black);
	flex: 0 0 2.25em;
	font-weight: bold;
	height: 2.25em;
	margin-right: 0.75em;
	position: relative;
	text-align: center;
	width: 2.25em;
}

.formPageNumber span {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mercerForm .formPageHeader .htmlSection {
	min-height: 2.25em;
	display: flex;
	align-items: center;
}


/* Fields --------------------- */
.mercerForm .inline.group {
	display: flex;
	column-gap: var(--grid-gap);
}

.mercerForm .wForm .inline.group .oneField {
	flex: 1 1 100%;
}

.mercerForm .wForm .inputWrapper {
	position: relative;
}

/* Text fields */
.mercerForm .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]),
.mercerForm .wForm .inputWrapper textarea,
.mercerForm .wForm .inputWrapper .dropdown {
	background: var(--offwhite);
	border-radius: var(--input-border-radius);
	border: 1px solid var(--grey-800);
	box-shadow: var(--input-box-shadow);
	color: var(--black);
	font-size: 1em;
	font-weight: 500;
	height: auto;
	line-height: 1;
	outline: 0;
	padding: 1em;
	transition: all 200ms ease-out;
	width: 100%;
}

/* Textarea */
.mercerForm .wForm .inputWrapper textarea {
	font-size: 1em;
	line-height: 1.2;
}

/* Dropdowns */
.mercerForm .dropdown {
	position: relative;
	cursor: pointer;
	box-shadow: var(--input-box-shadow);
}
.mercerForm .dropdown.open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.mercerForm .dropdown-icon {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	transition: var(--transition);
}
.mercerForm .dropdown.open .dropdown-icon {
	transform: translateY(-50%) rotate(180deg);
}
.mercerForm .dropdown-options {
	background-color: var(--offwhite);
	border-bottom-left-radius: var(--input-border-radius);
	border-bottom-right-radius: var(--input-border-radius);
	border: 1px solid var(--grey-800);
	border-top: 0;
	box-shadow: inset 6px 0 4px -4px rgba(0,0,0,0.05);
	left: -1px;
	max-height: 0px;
	opacity: 0;
	overflow: scroll;
	pointer-events: none;
	position: absolute;
	top: calc(100% - 3px);
	transition: var(--transition);
	width: calc(100% + 2px);
	z-index: 1;
}
.mercerForm .dropdown.open .dropdown-options {
	opacity: 1;
	max-height: 250px;
	pointer-events: all;
}
.mercerForm .dropdown-option {
	font-size: 16px;
	line-height: 1;
	padding: 0.7em 1em;
	border-bottom: 1px solid var(--grey-900);
	transition: var(--transition);
}
.mercerForm .dropdown-option:hover,
.mercerForm .dropdown-option:focus,
.mercerForm .dropdown-option.active {
	background-color: var(--grey-900);
}
.mercerForm .dropdown-option.selected {
	background-color: var(--raspberry);
	color: #fff;
	font-weight: bold;
}

/* States */
.mercerForm .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]):hover,
.mercerForm .wForm .inputWrapper textarea:hover,
.mercerForm .wForm .inputWrapper .dropdown:hover,
.mercerForm .wForm .inputWrapper .dropdown:hover .dropdown-options {
	border-color: var(--black);
}
.mercerForm .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]):focus,
.mercerForm .wForm .inputWrapper textarea:focus,
.mercerForm .wForm .inputWrapper .dropdown:focus,
.mercerForm .wForm .inputWrapper .dropdown:focus .dropdown-options {
	border-color: var(--raspberry);
}
.mercerForm .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"])::placeholder,
.mercerForm .wForm .inputWrapper textarea::placeholder,
.mercerForm .wForm .inputWrapper .dropdown-label {
	color: #444759 !important;
	transition: opacity 200ms ease-out;
}
.mercerForm .wForm .inputWrapper input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]):focus::placeholder,
.mercerForm .wForm .inputWrapper textarea:focus::placeholder {
	opacity: 0.4;
}

/* Error fields */
.mercerForm .wForm .inputWrapper.error input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="hidden"]):not([type="checkbox"]):not([type="radio"]),
.mercerForm .wForm .inputWrapper.error textarea:hover {
	border-color: var(--error);
}
.mercerForm .wForm .inputWrapper .errorIcon {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	width: 1.5em;
	height: 1.5em;
}

/* Tiled Choices --------------------- */
.mercerForm .tiles {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--grid-gap);
	row-gap: var(--grid-gap);
}

.mercerForm .tile {
	flex: 1 1 auto;
	width: calc(50% - var(--grid-gap) / 2);
	min-height: 6.875em;
}

.mercerForm .tiles input[type="radio"], 
.mercerForm .tiles input[type="checkbox"] {	
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}
.mercerForm .tiles .tile .label {	
	background-color: var(--offwhite);
	box-shadow: inset 0 0 0 1px #999;
	padding: 1em 0.9em;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: flex-start;
	border-radius: 5px;
	font-size: 0.875em;
	line-height: 1.2;
	height: 100%;
	cursor: pointer;
	color: var(--black);
	transition: var(--transition-fast);
}
.mercerForm .tiles .tile .label.singleLine {
	justify-content: center;
}

.mercerForm .tiles .tile .label:active {
	transform: scale(0.96);
}

.mercerForm .tiles .tile .label:hover {
	box-shadow: inset 0 0 0 1px var(--raspberry);
	color: var(--raspberry);
}

.mercerForm .tiles .tile input:focus + .label,
.mercerForm .tiles .tile input:is(:checked) + .label {
	box-shadow: inset 0 0 0 2px var(--raspberry);
	color: var(--raspberry);
}

.mercerForm .tiles .tile input:is(:checked) + .label {
	background-color: var(--raspberry-highlight);
}

.mercerForm .tiles .tile .label .title {	
	margin: 0 auto;
	font-size: 0.875em;
}

.mercerForm .tiles .tile .label .icon {	
	margin: 0.75em auto 0.25em;
	height: 40px;
}

.mercerForm .tiles .tile .label .text {	
	margin: 0.5em auto 0;
}

@media(min-width: 768px) {
	.mercerForm .tiles .tile .label { padding: 1.3em 0.9em;	}
	.mercerForm .tiles .tile .label.square { min-height: 195px; }
	.mercerForm .tiles .tile .label .title { font-size: 1em; }
	.mercerForm .tiles .tile .label .icon {	height: 55px; margin: 1em auto 0.5em; }
}

/* Buttons --------------------- */

.mercerForm .wfPagingButtons {
	display: flex;
	column-gap: var(--grid-gap);
	margin-top: 2.25em;
}

.mercerForm .actions.multipage {
	display: none;
}

.mercerForm button,
.mercerForm input[type="button"],
.mercerForm input[type="submit"],
.mercerForm .actions .primaryAction {
  appearance: none;
	font-weight: bold;
	font-size: var(--button-font-size);
	background-color: var(--raspberry);
	color: #fff;
	padding: var(--button-padding);
	border-radius: var(--button-border-radius);
	border: 2px solid var(--raspberry);
	width: 100%;
	outline: 0;
	transition: all 200ms ease-out;
	margin: 0;
}

.mercerForm button[disabled],
.mercerForm input[type="button"][disabled],
.mercerForm input[type="submit"][disabled] {
	background-color: var(--grey-600);
	border: 2px solid var(--grey-600);
	opacity: 0.7;
	pointer-events: none;
}

.mercerForm button:hover,
.mercerForm input[type="button"]:hover,
.mercerForm input[type="submit"]:hover,
.mercerForm .actions .primaryAction:hover {
	background-color: var(--raspberry-dark);
	border: 2px solid var(--raspberry-dark);
	color: #fff;
}

.mercerForm button:focus, 
.mercerForm input[type="button"]:focus, 
.mercerForm input[type="submit"]:focus, 
.mercerForm .actions .primaryAction:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 4px var(--raspberry);
}

.mercerForm button.outline,
.mercerForm input[type="button"].outline,
.mercerForm input[type="submit"].outline {
	color: var(--raspberry);
	background-color: transparent;
	border: 2px solid var(--raspberry);
}

.mercerForm button.outline:hover,
.mercerForm input[type="button"].outline:hover,
.mercerForm input[type="submit"].outline:hover {
	background-color: var(--raspberry-highlight);
	border: 2px solid var(--raspberry);
}